<h1>About us</h1>
<p>Everyday life is full of stress. We aim to provide some relief with a little humor.</p>
<p>Enjoy, submit, and share your favorite images and videos of animals doing wild and wacky things.</p>
