<div class="jumbotron">
  <h1>Welcome to the jungle!</h1>
  <h2>We got fun & games!</h2>
  <p>Leave your worries behind, and let the antics of nature's greatest comedians brighten your day.</p>
  <p>Click here to <%= link_to "Sign up", "#", class: "btn btn-primary btn-lg" %></p>
</div>
